.footer.custom-footer
  .row
    .col.l2.hide-on-small-and-down
      %img{src: image_path('Mu1.jpg'), height:'150px', class: 'logo'}
    .col.l10.s12
      %h5.grey-text.lighten-1 STEAM Community
      %hr/
      %p.grey-text.lighten-1 The STEAM Community and P.A.R.E.T.O. are building the International STEAM Innovation District to decrease barriers like self-awareness or financial risks and ensure optimal performance with opportunities for everyone. Join the community to help others and yourself.
      %p.grey-text.lighten-1 © 2016 Evolve STEAM
