/* Home Page Styling */
.parallax-title-left h1{
  font-weight: bold !important;
}

.parallax-title h1{
  font-weight: bold !important;
}

.parallax-title-right h1 {
  font-weight: bold !important;
}

.logo{
  margin: 5px 0px 0px 0px;
}

.parallax-title-left {
  padding: 160px 0px 0px 100px;
}

.parallax-title-right {
  padding: 175px 100px 0px 0px;
}

.section-padding {
  padding: 50px 75px 35px 50px;
}

.button-padding {
  margin: 15px 15px 5px 0px !important;
}

/* About Page Styling */
.center-parallax-title{
  padding-top: 180px;
}

.section-padding h3 {
  margin-top: 0px !important;
}

.profile-images {
  height: 300px !important;
  border-radius: 25px;
}

.bold {
  font-weight: bold !important;
}

.custom-contact {
  padding-top: 30px !important;
}
